global
log 127.0.0.1   local0
log 127.0.0.1   local1 notice
maxconn 4096
tune.ssl.default-dh-param 2048
daemon

defaults
    log         global
    option      dontlognull
    mode        http

# HTTP specific timeouts
    timeout connect     5s
    timeout client      5s
    timeout server      5s
# Websocket specific timeouts
    timeout tunnel      2h

frontend kuzzle_https
    bind *:7512 ssl crt /etc/ssl/private/snakeoil.pem
    default_backend https
    mode        http
    option      httpclose
    option      forwardfor
    tcp-request inspect-delay 500ms
    tcp-request content accept if HTTP

backend https
    mode http
    option forwardfor
    option httpclose
    server kuzzleproxy proxy:7512 maxconn 32768 check
