# If set, will mount Kuzzle source from $KUZ_PATH directory
# KUZ_PATH=../../kuzzle

# DEBUG env var for debug module passed to Kuzzle - Default to empty string (no debug)
# KUZ_DEBUG=kuzzle:broker:*,kuzzle:cluster,kuzzle:cluster:*

# Node environment - Defaults to development
# NODE_ENV=production
