**/node_modules
dump
index-dump
vagrant
Vagrantfile
**/.git
/.ci
.idea
.nyc_output
.sonar
sonar-project.properties

plugins/available/functional-test-plugin
plugins/enabled/functional-test-plugin
plugins/enabled/dummy
