# Node
node_modules
npm-debug.log
.node_history
# Exclude profiling file output
*.out
# Exclude coverage report
/coverage

# IDE
.idea

# Docker
docker-compose-custom.yml

# vagrant
/.vagrant

# Other
.DS_STORE
*#
*~
.*.swp
.tags

