# Node
node_modules
npm-debug.log*
.node_history
# Exclude coverage report
coverage
.nyc_output
# Plugin config folder
config/plugins/
dump

# IDE
.idea

# Docker
docker-compose-custom.yml

# vagrant
/.vagrant

# Other
.DS_STORE
*#
*~
.*.swp
.tags

# Kuzzle
.kuzzlerc
/*.log
/run
!/run/.keep

#swagger
kuzzle-swagger.*

#sonarqube
.sonar
.scannerwork
.sonarlint
/sonarlint.json

#plugins
plugins/available/*
!plugins/available/kuzzle-plugin-auth-passport-local
!plugins/available/kuzzle-plugin-logger
!plugins/available/.keep


plugins/enabled/*
!plugins/enabled/kuzzle-plugin-auth-passport-local
!plugins/enabled/kuzzle-plugin-logger
!plugins/enabled/.keep
