os: linux
sudo: required
language: minimal

env:
  global:
    secure: KWhqHGlzE1ioGyZzcWxoTdhJdSnXvORHIZXvHC7WRdnOLa14gTdRkdjezzVT2DIeHcqH5x5uffAaWHgXWYPzqgm64XpR86UAcQeqf5FxF7V91M0jIaBlktzTK7Xf8PGozh0hqJqD4lTcG4hLW99a/dI0Z/LULape5dNBZWHKGwk6XjYY7rQErtSw1l4jrZD2w6xEVjXQSckwFVnbF5whoYiwOJwYzyNnfrY6NNWHtTwzSKmdK1DUQr6Vk+eA+ggndWXe2GA3bJGM9K4lNbG/TcTLUTULOfkqwoZVejOrd5dpuNZqa/iRPubtVuFUZ0W0+DFGl8KBctdkbhqI4qk27uQPIVQO7zF36hR1oaQuSNXyXwWOVtVm3+ymu1YAfzjVUTiRBHg5Uda0Ink8yLo8Wpnp0gRq5Y3iVhymMYbiKHuzs52tnHfZ6NFjIH1M86uZhzrJhCqFKKCX9dzguj1PrM+7zYC0aXIxi3Yt6k1C2DY/8A+g201tBhMB7EwppilH6Rm2sqBXpUKI/P/LW/lJOUmY4EGBOPv+RGX0W3Av28NTI0PisCiNKgD8w5r+4l16/AhMBY3lmvTjZFd6IpfcJohWA25k2h7b4Opemu7/po7faMGMhqUTW64D98YhqiWtR0QpVtIRnLiol4GbwwUjT83p1Nw+korROXsei5ygX/w=


cache:
  directories: "– $HOME/.pm2 – $HOME/.sonar/cache"

stage:
  - name: Unit tests & Linters
  - name: Functional tests
  - name: Deployments

jobs:
  include:
# ---------------------------------------
# Unit Testing
# ---------------------------------------
    - stage: Unit tests & Linters
      name: "Unit Tests"

      language: node_js
      node_js:
        - "8"

      install:
        - npm install --silent
        - npm install --silent --only=dev

      script:
        - npm run unit-testing

      after_script:
        - npm run codecov

# ---------------------------------------
# SonarQube
# ---------------------------------------
    - stage: Unit tests & Linters
      name: "SonarQube"

      if: type = pull_request && fork != true

      language: node_js
      node_js:
        - "8"

      addons:
        sonarqube: true

      install:
        - npm install --silent --only=dev

      script:
        - bash .ci/sonar.sh

# ---------------------------------------
# ESLint
# ---------------------------------------
    - stage: Unit tests & Linters
      name: "ESLint"

      language: node_js
      node_js:
        - "8"

      addons:
        sonarqube: true

      install:
        - npm install --silent
        - npm install --silent --only=dev

      script:
        - npm run --silent lint

# ---------------------------------------
# Functionnal Testing
# ---------------------------------------
# Node 6 - x64
# ---------------------------------------
    - stage: Functional tests
      name: "Functionnal Tests - amd64 - Node v6"

      env:
        - DOCKER_COMPOSE_VERSION=1.9.0
        - NODE_LTS=6
        - DOCKER_PROXY_TAG=$(if [ "${TRAVIS_BRANCH}" != "master" ]; then echo ":develop"; fi)

      services:
        - docker

      before_install:
        - sudo sysctl -w vm.max_map_count=262144

      script:
        - docker-compose -f .ci/test.yml run kuzzle

# ---------------------------------------
# Node 8 - x64
# ---------------------------------------
    - stage: Functional tests
      name: "Functionnal Tests - amd64 - Node v8"

      env:
        - DOCKER_COMPOSE_VERSION=1.9.0
        - NODE_LTS=8
        - DOCKER_PROXY_TAG=$(if [ "${TRAVIS_BRANCH}" != "master" ]; then echo ":develop"; fi)

      services:
        - docker

      before_install:
        - sudo sysctl -w vm.max_map_count=262144

      script:
        - docker-compose -f .ci/test.yml run kuzzle

# ---------------------------------------
# Node 10 - x64
# ---------------------------------------
    - stage: Functional tests
      name: "Functionnal Tests - amd64 - Node v10"

      env:
        - DOCKER_COMPOSE_VERSION=1.9.0
        - NODE_LTS=10
        - DOCKER_PROXY_TAG=$(if [ "${TRAVIS_BRANCH}" != "master" ]; then echo ":develop"; fi)

      services:
        - docker

      before_install:
        - sudo sysctl -w vm.max_map_count=262144

      script:
        - docker-compose -f .ci/test.yml run kuzzle

# ---------------------------------------
# Node 8 - armhf
# ---------------------------------------
    - stage: Functional tests
      name: "Functionnal Tests - armhf - Node v8"

      env:
        - DOCKER_COMPOSE_VERSION=1.9.0
        - NODE_LTS=8
        - DOCKER_PROXY_TAG=$(if [ "${TRAVIS_BRANCH}" != "master" ]; then echo ":develop"; fi)

      services:
        - docker

      before_install:
        - sudo sysctl -w vm.max_map_count=262144
        - docker run --rm --privileged multiarch/qemu-user-static:register

      script:
        - docker run --rm -it -v "$(pwd)":/mnt kuzzleio/sdk-cross:node8-armhf ./.ci/scripts/install-armhf-deps.sh
        - docker-compose -f .ci/test-armhf.yml run kuzzle

# ---------------------------------------
# Node 8 - aarch64
# ---------------------------------------
    - stage: Functional tests
      name: "Functionnal Tests - aarch64 - Node v8"

      env:
        - DOCKER_COMPOSE_VERSION=1.9.0
        - NODE_LTS=8
        - DOCKER_PROXY_TAG=$(if [ "${TRAVIS_BRANCH}" != "master" ]; then echo ":develop"; fi)

      services:
        - docker

      before_install:
        - sudo sysctl -w vm.max_map_count=262144
        - docker run --rm --privileged multiarch/qemu-user-static:register

      script:
        - docker run --rm -it -v "$(pwd)":/mnt kuzzleio/sdk-cross:node8-aarch64 ./.ci/scripts/install-aarch64-deps.sh
        - docker-compose -f .ci/test-aarch64.yml run kuzzle

# ---------------------------------------
# Deploy
# ---------------------------------------
# NPM
# ---------------------------------------
    - stage: Deployments
      name: "Deploy on NPM"

      if: type != pull_request AND branch = master

      language: node_js
      node_js:
        - "8"

      script:
        - echo "Deploying Kuzzle on NPM"

      deploy:
        provider: npm
        email: support@kuzzle.io
        api_key:
          secure: gqLBt1Scnr8wAR0zauW3jI7M576Jr7d+d2C5gvCA+iI1Y6gBWMM04A3w1MHHcPUBNA+xbwNimyoxbrBozq7otiMEDbP5ConS+T3KRWyHYwjdSfmL5KmEoNqwjmo128qJq2uWFxEecBmBk63q9A3gbnhdw3/D+05NKL4B44PpyNDpT6fApsVyDNXQmeib6cYfjwB1rCv8Mcf2sbVE1eqcJuGTwDtxx/860405PqBSg7H8iGGJJr7cymaU8cK4RLre+u8GHRiSDoKeU1UiWIoIoLG0y8TisFllSstZu9kguA6ShPJJA28NLiNyJ7j0KxKW6muvY03AFxa4XQ0sMaxotjQxN3IRUnLdN1mnQydWqMRP2+HWK1uRXCiDoL9ZnSClS1BixSAv15tvhggqE76Rq4uGCcl7hYfagpUzQpsUIV40Wc7CHez/O4ZvvicWIOdo2jmh/6fRYWOFY2+ihzwszaZwAQT1cdTm75JMIqrATyNWEZvwvczQzC85HmJajhf1azyEY08kdIJxwmwh30AMl2Is0vlq9ujCp8XRsanbdj74CcDNf9RSgesiD83McLd/ZJZHSDIe//wNypcTcW4fQbSfGb1oDHWVLQ6L/jr+W3OJUgVBG31mMciGo2jSROOos8n4iHHqs3QbxTwh0B+t+1amvZlpelFUEoicprPCcN8=
        on:
          repo: kuzzleio/kuzzle
          branch: master

# ---------------------------------------
# Dockerhub
# ---------------------------------------
    - stage: Deployments
      name: "Build & publish Docker images on Dockerhub"

      if: type != pull_request AND branch =~ ^master|[1-9]+-dev$

      script:
        - MODE=production bash build-docker-images.sh
