services:
  node:
    environment:
      - kuzzle_services__storageEngine__majorVersion=8

  elasticsearch:
    image: docker.io/bitnamilegacy/elasticsearch:8.17.1-debian-12-r6
    container_name: kuzzle_elasticsearch
    environment:
      - ES_JAVA_OPTS=-Xms2g -Xmx2g
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 2s
      timeout: 2s
      retries: 10
    ulimits:
      nofile: 65536
