x-kuzzle-config: &kuzzle-config
  image: kuzzleio/kuzzle-runner:24-trixie-slim
  command: npm run dev
  volumes:
    - ".:/var/app"
  cap_add:
    - SYS_PTRACE
  ulimits:
    nofile: 65536
  sysctls:
    - net.core.somaxconn=8192
  depends_on:
    redis:
      condition: service_healthy
    elasticsearch:
      condition: service_healthy
  environment:
    - kuzzle_services__storageEngine__client__node=http://elasticsearch:9200
    - kuzzle_services__storageEngine__commonMapping__dynamic=true
    - kuzzle_services__internalCache__node__host=redis
    - kuzzle_services__memoryStorage__node__host=redis
    - kuzzle_server__protocols__mqtt__enabled=true
    - kuzzle_server__protocols__mqtt__developmentMode=false
    - kuzzle_limits__loginsPerSecond=50
    - NODE_ENV=${NODE_ENV:-development}
    - KUZZLE_VAULT_KEY=${KUZZLE_VAULT_KEY:-secret-password}
    - KUZZLE_SECRETS_FILE=${KUZZLE_SECRETS_FILE:-/var/app/features/fixtures/secrets.enc.json}
    # - DEBUG=${DEBUG:-kuzzle:*,-kuzzle:network:protocols:websocket,-kuzzle:events}
    # - DEBUG_DEPTH=${DEBUG_DEPTH:-0}
    # - DEBUG_MAX_ARRAY_LENGTH=${DEBUG_MAX_ARRAY:-100}
    # - DEBUG_EXPAND=${DEBUG_EXPAND:-off}
    # - DEBUG_SHOW_HIDDEN={$DEBUG_SHOW_HIDDEN:-on}
    # - DEBUG_COLORS=${DEBUG_COLORS:-on}

services:
  node:
    <<: *kuzzle-config
    ports:
      # Uncomment lines under if you want to use
      # docker compose up --scale node=10

      # - "7512-7599:7512" # Kuzzle API port
      # - "1883-1899:1883" # Kuzzle MQTT port
      # - "9229-9299:9229" # Debug port

      # Or let this 3 lines below
      # It will let you use kourou w/o any custom config
      - "7512:7512" # Kuzzle API port
      - "1883:1883" # Kuzzle MQTT port
      - "9229:9229" # Debug port
    healthcheck:
      test: ["CMD", "curl", "-f", "http://node:7512/_healthcheck"]
      timeout: 1s
      interval: 2s
      retries: 10
      start_period: 1m

  redis:
    image: redis:8
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30

  elasticsearch:
    image: kuzzleio/elasticsearch:7
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 2s
      timeout: 2s
      retries: 10
    ulimits:
      nofile: 65536
    environment:
      - discovery.type=single-node
      - network.host=0.0.0.0
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    volumes:
      - esdata:/usr/share/elasticsearch/data:rw

  grafana:
    profiles:
      - monitoring
    image: grafana/grafana
    ports:
      - "3000:3000"

  loki:
    profiles:
      - monitoring
    image: grafana/loki
    ports:
      - "3100:3100"

volumes:
  esdata:
    driver: local
