// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {
  // Deletions, additions and comments
  del.critic,
  ins.critic,
  .critic.comment {
    margin: 0 0.25em;
    padding: 0.0625em 0;
    border-radius: 0.2rem;
    box-decoration-break: clone;
  }

  // Deletion
  del.critic {
    background-color: $codehilite-diff-deleted; // TODO: dependent on order of inclusion
    box-shadow: +0.25em 0 0 $codehilite-diff-deleted,
      -0.25em 0 0 $codehilite-diff-deleted;
  }

  // Addition
  ins.critic {
    background-color: $codehilite-diff-inserted; // TODO: dependent on order of inclusion
    box-shadow: +0.25em 0 0 $codehilite-diff-inserted,
      -0.25em 0 0 $codehilite-diff-inserted;
  }

  // Comment
  .critic.comment {
    background-color: $md-code-background; // TODO: rename, centralize somehow
    color: $md-code-color;
    box-shadow: +0.25em 0 0 $md-code-background, -0.25em 0 0 $md-code-background;

    // Icon
    &::before {
      @extend %md-icon;

      padding-right: 0.125em;
      color: $md-color-black--lighter;
      content: '\E0B7'; // chat
      vertical-align: -0.125em;
    }
  }

  // Block
  .critic.block {
    display: block;
    margin: 1em 0;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    box-shadow: none;

    // Decrease spacing on first element
    :first-child {
      margin-top: 0.5em;
    }

    // Decrease spacing on last element
    :last-child {
      margin-bottom: 0.5em;
    }
  }
}
