// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {
  // Qualified class selector to distinguish inline code from code blocks
  code.codehilite {
    $correct: 1 / 0.85;

    margin: 0 0.25em * $correct;
    padding: 0.0625em * $correct 0;
  }
}
