version: '3'

services:
  proxy:
    image: kuzzleio/proxy
    ports:
      - "7513:7512"

  nginx:
    image: nginx:1.15-alpine
    depends_on:
      - kuzzle
    ports:
      - "7443:7443"
    volumes:
      - ./nginx:/etc/nginx/conf.d

  kuzzle:
    image: kuzzleio/core-dev:1
    command: sh -c 'chmod 755 /run.sh && /run.sh'
    volumes:
      - "..:/var/app"
      - "./scripts/run-dev.sh:/run.sh"
      - "./config/pm2-dev.json:/config/pm2.json"
      - "./fixtures:/fixtures"
    cap_add:
      - SYS_PTRACE
    ulimits:
      nofile: 65536
    sysctls:
      - net.core.somaxconn=8192
    depends_on:
      - redis
      - elasticsearch
    ports:
      - "7512:7512"
      - "1883:1883"
      - "9229:9229"
    environment:
      - kuzzle_services__db__client__host=http://elasticsearch:9200
      - kuzzle_services__internalCache__node__host=redis
      - kuzzle_services__memoryStorage__node__host=redis
      - kuzzle_server__entryPoints__proxy=true
      - kuzzle_server__proxy__host=proxy
      - kuzzle_server__protocols__mqtt__enabled=true
      - kuzzle_server__protocols__mqtt__developmentMode=false
      - NODE_ENV=${NODE_ENV:-development}
      - DEBUG=${DEBUG:-none}
      - DEBUG_DEPTH=${DEBUG_DEPTH:-0}
      - DEBUG_MAX_ARRAY_LENGTH=${DEBUG_MAX_ARRAY:-100}
      - DEBUG_EXPAND=${DEBUG_EXPAND:-off}
      - DEBUG_SHOW_HIDDEN={$DEBUG_SHOW_HIDDEN:-on}
      - DEBUG_COLORS=${DEBUG_COLORS:-on}
      - KUZZLE_VAULT_KEY=${KUZZLE_VAULT_KEY}

  redis:
    image: redis:${REDIS_VERSION:-5}

  elasticsearch:
    image: kuzzleio/elasticsearch:5
    ports:
      - "9201:9200"
    ulimits:
      nofile: 65536
    environment:
      - cluster.name=kuzzle
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
