// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Enforce correct box model
html {
  box-sizing: border-box;
}

// All elements shall inherit the document default
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Prevent adjustments of font size after orientation changes in IE and iOS
html {
  text-size-adjust: none;
}

// Remove margin in all browsers
body {
  margin: 0;
}

// Reset horizontal rules in FF
hr {
  overflow: visible;
  box-sizing: content-box;
}

// Remove gaps in underlined links in iOS >= 8 and Safari >= 8
a {
  -webkit-text-decoration-skip: objects;
}

// Reset tap outlines on iOS and Android
a,
button,
label,
input {
  -webkit-tap-highlight-color: transparent;
}

// Reset link styles
a {
  color: inherit;
  text-decoration: none;
}

// Normalize font-size in all browsers
small {
  font-size: 80%;
}

// Prevent subscript and superscript from affecting line-height
sub,
sup {
  position: relative;
  font-size: 80%;
  line-height: 0;
  vertical-align: baseline;
}

// Correct subscript offset
sub {
  bottom: -0.25em;
}

// Correct superscript offset
sup {
  top: -0.5em;
}

// Remove borders on images
img {
  border-style: none;
}

// Reset table styles
table {
  border-collapse: separate;
  border-spacing: 0;
}

// Reset table cell styles
td,
th {
  font-weight: normal;
  vertical-align: top;
}

// Reset (native) button styles
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline-style: none;
  background: transparent;
  font-size: inherit;
}

// Reset (native) input styles
input {
  border: 0;
  outline: 0;
}
