const BaseType = require('../baseType');

/**
 * @class MyNewType
 */
class MyNewType extends BaseType {
  constructor() {
    super();
    this.typeName = 'my_new_type';
    this.allowChildren = false;
    this.allowedTypeOptions = [];
  }

  /**
   * @param {TypeOptions} typeOptions
   * @param {*} fieldValue
   * @param {string[]} errorMessages
   * @return {boolean}
   */
  validate(typeOptions, fieldValue, errorMessages) {
    // TODO
    return true;
  }

  /**
   * @param {TypeOptions} typeOptions
   * @return {TypeOptions}
   * @throws {KuzzleError}
   */
  validateFieldSpecification(typeOptions) {
    // TODO
    return typeOptions;
  }
}

module.exports = MyNewType;
