// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Hero teaser
.md-hero {
  transition: background 0.25s;
  background-color: $md-color-primary;
  color: $md-color-white;
  font-size: ms(1);
  overflow: hidden;

  // Inner wrapper
  &__inner {
    margin-top: 2rem;
    padding: 1.6rem 1.6rem 0.8rem;
    transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1), opacity 0.25s;
    transition-delay: 0.1s;

    // [tablet -]: Compensate for missing tabs
    @include break-to-device(tablet) {
      margin-top: 4.8rem;
      margin-bottom: 2.4rem;
    }

    // Fade-out tabs background upon scrolling
    [data-md-state='hidden'] & {
      pointer-events: none;
      transform: translateY(1.25rem);
      transition: transform 0s 0.4s, opacity 0.1s 0s;
      opacity: 0;
    }

    // Adjust bottom spacing if there are no tabs
    .md-hero--expand & {
      margin-bottom: 2.4rem;
    }
  }
}
