// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Tabs with outline
.md-tabs {
  width: 100%;
  transition: background 0.25s;
  background-color: $md-color-primary;
  color: $md-color-white;
  overflow: auto;

  // [tablet -]: Hide tabs for tablet and below, as they don't make any sense
  @include break-to-device(tablet) {
    display: none;
  }

  // Hide for print
  @media print {
    display: none;
  }

  // List of items
  &__list {
    margin: 0;
    margin-left: 0.4rem;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    position: relative;
    left: -13px;
    overflow-x: hidden;
  }

  // List group
  &__group {
    display: inline-block;
    margin-right: 4rem;
  }

  // List name of group of items
  &__group-name {
    font-size: 1.3rem;
    padding-left: 14px;
    margin: 0 0 -5px 0;
    opacity: 0.5;
    text-transform: capitalize;
  }

  //List group of items
  &__group-items {
    padding: 0px;
  }

  // List item
  &__item {
    display: inline-block;
    height: 4.2rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  // Link inside item - could be defined as block elements and aligned via
  // line height, but this would imply more repaints when scrolling
  &__link {
    display: block;
    margin-top: 1rem;
    transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1), opacity 0.25s;
    font-size: 1.5rem;
    opacity: 1;

    &:after {
      content: '';
      width: 0%;
      transition: width 0.3s;
      height: 1px;
      display: block;
      background-color: white;
    }
    // Active or hovered link
    &--active,
    &:hover {
      color: inherit;
      opacity: 1;

      &:after {
        width: 100%;
      }
    }

    // Delay transitions by a small amount
    @for $i from 2 through 16 {
      .md-tabs__item:nth-child(#{$i}) & {
        transition-delay: 0.02s * ($i - 1);
      }
    }
  }

  // [screen +]: Adjust main navigation styles
  @include break-from-device(screen) {
    // Hide 1st level nested items, as they are listed in the tabs by setting
    // font-size to zero, as we need to preserve bottom padding
    ~ .md-main .md-nav--primary > .md-nav__list > .md-nav__item--nested {
      font-size: 0;
      visibility: hidden;
    }

    // We're on the 2nd+ level
    &--active ~ .md-main {
      // Adjust 1st level styles
      .md-nav--primary {
        // Show title and remove spacing
        .md-nav__title {
          display: block;
          padding: 0;
        }

        // Hide site title
        .md-nav__title--site {
          display: none;
        }

        // Show 1st level navigation always expanded
        .no-js & .md-nav {
          display: block;
        }

        // Hide 1st level normal items
        & > .md-nav__list > .md-nav__item {
          font-size: 0;
          visibility: hidden;

          // Reset font-size for nested items and induce margin collapse
          &--nested {
            display: none;
            font-size: 1.4rem;
            overflow: auto;
            visibility: visible;

            // Hide nested links
            > .md-nav__link {
              display: none;
            }
          }

          // Show 1st level active nested items
          &--active {
            display: block;
          }
        }
      }

      // Always expand nested navigation on 2nd level
      .md-nav[data-md-level='1'] {
        max-height: initial;
        overflow: visible;

        // Remove left spacing on 2nd level items
        > .md-nav__list > .md-nav__item {
          padding-left: 0;
        }

        // Hide titles from 2nd level on
        .md-nav .md-nav__title {
          display: none;
        }
      }
    }
  }
}
