.since {
  font-size: 1.3rem;
  opacity: 0.7;
  display: inline;
}

.deprecated {
  font-size: 1.3rem;
  color: #FFFFFF !important;
  background-color: #E94E77;
  display: inline;
  padding: 0.2em 0.2em 0.2em 0.2em !important;
}
