// ----------------------------------------------------------------------------
// Variables: typography
// ----------------------------------------------------------------------------

// Modular typographic scale
$ms-base: 1.6rem;
$ms-ratio: $major-third;

// ----------------------------------------------------------------------------
// Variables: breakpoints
// ----------------------------------------------------------------------------

// stylelint-disable unit-whitelist

// Device-specific breakpoints
$break-devices: (
  mobile: (
    portrait: px2em(220px) px2em(479px),
    landscape: px2em(480px) px2em(719px)
  ),
  tablet: (
    portrait: px2em(720px) px2em(959px),
    landscape: px2em(960px) px2em(1219px)
  ),
  screen: (
    small: px2em(1220px) px2em(1599px),
    medium: px2em(1600px) px2em(1999px),
    large: px2em(2000px)
  )
);

// stylelint-enable unit-whitelist

// ----------------------------------------------------------------------------
// Variables: base colors
// ----------------------------------------------------------------------------

// Primary and accent colors
$md-color-primary: $clr-indigo-500 !default;
$md-color-accent: $clr-indigo-a200 !default;
$md-color-pink: #e94e77;
$md-color-pink-light: rgba(233, 78, 119, 0.3);
$md-color-blue: #002835;

// Shades of black
$md-color-black: hsla(0, 0%, 0%, 0.87) !default;
$md-color-black--light: hsla(0, 0%, 0%, 0.54) !default;
$md-color-black--lighter: hsla(0, 0%, 0%, 0.26) !default;
$md-color-black--lightest: hsla(0, 0%, 0%, 0.07) !default;
$md-color-black--transparent: hsla(0, 0%, 0%, 0) !default;

// Shades of white
$md-color-white: hsla(0, 0%, 100%, 1) !default;
$md-color-white--light: hsla(0, 0%, 100%, 0.7) !default;
$md-color-white--lighter: hsla(0, 0%, 100%, 0.3) !default;
$md-color-white--lightest: hsla(0, 0%, 100%, 0.12) !default;
$md-color-white--transparent: hsla(0, 0%, 100%, 0) !default;

// ----------------------------------------------------------------------------
// Variables: sizing and spacing
// ----------------------------------------------------------------------------

// Icons
$md-icon-size: $ms-base * 1.5;
$md-icon-padding: $ms-base * 0.5;
$md-icon-margin: $ms-base * 0.25;

// Code blocks
$md-code-background: $md-color-blue;
$md-code-background-highlighted: #02171f;
$md-code-color: #c2c6cf;

// Keystrokes
$md-keyboard-background: #fcfcfc;
$md-keyboard-color: #555555;

$md-code-background-inline: rgba(27, 31, 35, 0.1);
