
on:
  pull_request:

jobs:
  publish-runner:
    name: Kuzzle runner Docker image (Node.js < 24)
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [20, 22]
    steps:
      - uses: actions/checkout@v4

      - name: Install additional libraries
        uses: ./.github/actions/install-packages

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./docker/images/kuzzle-runner
          file: ./docker/images/kuzzle-runner/Dockerfile
          push: true
          build-args: NODE_VERSION=${{ matrix.node-version }}
          platforms: ${{ env.DOCKER_PLATFORMS }}
          tags: kuzzleio/kuzzle-runner:${{ matrix.node-version }}

  publish-runner-24:
    name: Kuzzle runner Docker image (Node.js 24)
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [24]
    steps:
      - uses: actions/checkout@v4

      - name: Install additional libraries
        uses: ./.github/actions/install-packages

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./docker/images/kuzzle-runner
          file: ./docker/images/kuzzle-runner/Dockerfile.node24
          push: true
          build-args: NODE_VERSION=${{ matrix.node-version }}
          platforms: ${{ env.DOCKER_PLATFORMS }}
          tags: kuzzleio/kuzzle-runner:${{ matrix.node-version }}