name: Pull request checks

on: [pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        node-version: ['14.17.0']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: ./.github/actions/cache-node-modules
        with:
          NODE_VERSION: ${{ matrix.node-version }}
      - uses: ./.github/actions/es-lint

  start-kuzzle:
    needs: [lint]
    name: Start kuzzle
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        node-version: ['14.17.0']
        kuzzle-mage: ['kuzzle', 'kuzzle.alpine', 'kuzzle.scratch', 'plugin-dev']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: ./.github/actions/cache-node-modules
        with:
          NODE_VERSION: ${{ matrix.node-version }}
      - uses: ./.github/actions/start-kuzzle
        with:
          KUZZLE_IMAGE: ${{ matrix.kuzzle-image }}

  unit-tests:
    name: Unit Tests - Node.js v${{ matrix.node-version }}
    needs: [lint]
    strategy:
      matrix:
        node-version: ['14.17.0', '12.16.3', '12.20.0']
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: ./.github/actions/cache-node-modules
        with:
          NODE_VERSION: ${{ matrix.node-version }}
      - uses: ./.github/actions/unit-tests

  functional-tests-legacy:
    name: Functional Tests Legacy - ${{ matrix.test_set }} - Node.js v${{ matrix.node-version }}
    needs: [unit-tests, start-kuzzle]
    strategy:
      matrix:
        test_set: [http, websocket, mqtt]
        node-version: ['14.17.0', '12.16.3', '12.20.0']
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: ./.github/actions/cache-node-modules
        with:
          NODE_VERSION: ${{ matrix.node-version }}
      - uses: ./.github/actions/functional-tests
        with:
          test-set: test:functional:legacy:${{ matrix.test_set }}
          node-version: ${{ matrix.node-version }}

  functional-tests:
    name: Functional Tests - ${{ matrix.test_set }} - Node.js v${{ matrix.node-version }}
    needs: [unit-tests, start-kuzzle]
    strategy:
      matrix:
        test_set: [http, websocket]
        node-version: ['14.17.0', '12.16.3', '12.20.0']
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: ./.github/actions/cache-node-modules
        with:
          NODE_VERSION: ${{ matrix.node-version }}
      - uses: ./.github/actions/functional-tests
        with:
          test-set: test:functional:${{ matrix.test_set }}
          node-version: ${{ matrix.node-version }}

  error-codes-check:
    name: Documentation - Error codes check
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - name: Test error codes
        run: ./.ci/scripts/check-error-codes-documentation.sh

  cluster-monkey-tests:
    name: Cluster Monkey Tests
    needs: [functional-tests-legacy, functional-tests]
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        node-version: ['14.17.0', '12.16.3', '12.20.0']
    steps:
      - uses: actions/checkout@v2
      - name: Cloning Monkey Tester
        uses: actions/checkout@v2
        with:
          repository: kuzzleio/kuzzle-monkey-tests
          path: 'kuzzle-monkey-tests'
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: ./.github/actions/cache-node-modules
        with:
          NODE_VERSION: ${{ matrix.node-version }}
      - uses: ./.github/actions/monkey-tests
        with:
          node-version: ${{ matrix.node-version }}
