name: Manual Refresh SBOM

on:
  workflow_call:
    inputs:
      node_lts_current_version:
        description: "Current Node LTS Version"
        required: true
        default: "22"
        type: string


  workflow_dispatch:
    inputs:
      node_lts_current_version:
        description: "Current Node LTS Version"
        required: true
        default: "22"
        type: string

jobs:
  publish-sbom-to-dtrack:
    name: Publish SBOM to Dependency-Track
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Install additional libraries
        uses: ./.github/actions/install-packages

      - name: Node version ${{ inputs.node_lts_current_version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_lts_current_version }}

      - run: npm install
      - name: Create SBOM with CycloneDX
        run: npx @cyclonedx/cyclonedx-npm -o bom.xml --of=XML
      
      - name: Get the current project version from package.json
        id: get-version
        run: |
          echo "version=$(jq -r .version package.json)" >> $GITHUB_OUTPUT

      - name: Publish SBOM to Dependency-Track
        uses: DependencyTrack/gh-upload-sbom@v3
        with:
          serverhostname: ${{ secrets.DEPENDENCYTRACK_HOSTNAME }}
          apikey: ${{ secrets.DEPENDENCYTRACK_APIKEY }}
          project: '61327139-8d88-4907-9252-1ad45cc8d456' # Id of the "Kuzzle Backend" project
          projectversion: '${{ steps.get-version.outputs.version }}'
          bomfilename: "./bom.xml"
